body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdffcd;
}

.bhdLno {
  margin: 20px auto;

}

.chakra-container {
  margin-top: 40px;
  padding: 20px;
  position: relative;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(234, 234, 234);
  z-index: 100;
  opacity: 0.9;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 51px;
  padding: 50% 0;
  font-weight: bold;
}

[data-rk] ._1gbc6vu0 {
  position: relative;
  margin: 0 auto;
}